@model TicketModifyViewModel

<form method="post" asp-action="Edit" asp-route-id="@Model.Id">
    <span asp-validation-for="Title"></span>
    <input type="hidden" asp-for="Id" />

    <span asp-validation-for="Description"></span>

    <input type="text" asp-for="Title" placeholder="Ticket Title" required />
    <textarea asp-for="Description" placeholder="Ticket Description" required></textarea>

    <form method="post" asp-action="Index" asp-route-id="@Model.Id">
        <button type="submit">Cancel</button>
    </form>
    <button type="submit">Save Changes</button>
    <form method="post" asp-action="Delete" asp-route-id="@Model.Id">
        <button type="submit">Delete</button>
    </form>
</form>