@model UserProfileViewModel

@{
    ViewData["Title"] = $"{Model.Username} ({Model.DisplayName})";
}

<!-- Profile View -->

<div class="card-body">
    <div id="ticketHeader">
        <div class="view-mode d-flex justify-content-between align-items-center">
            <!-- Display Name -->
            <h3>@Model.DisplayName</h3>

            <!-- Edit button if profile is of authed user -->
            @if (Model.CanEdit)
            {
                <a class="btn btn-outline-primary" href="@Url.Action("Edit", "Profile", new { id = Model.Id })">Edit</a>
            }
        </div>
    </div>

    <!-- Username -->
    <p>@@@Model.Username </p>
    <hr />

    <!-- Bio -->
    <p>@Model.Bio</p>

    <!-- Date Joined -->
    <p class="text-muted">Joined @(Model.CreatedAt.ToString("MMMM dd, yyyy"))</p>
</div>