@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Ticket>

<section class="Tickets-Container">
    <div class="Tickets-Toolbar">
        <div class="Tickets-Searchbar">
            <input type="text" placeholder="Search tickets..." />
        </div>
        <div class="Tickets-Actions">
            <a asp-controller="Labels" asp-action="Index">Labels</a>
            <a asp-controller="Tickets" asp-action="New">New Ticket</a>
        </div>
    </div>
    <div class="Tickets-View">
        @if(Model != null && Model.Any())
        {
            @foreach(var ticket in Model)
            {
                <partial name="_TicketCard" model="ticket" />
            }
        }
        else
        {
            <div class="Tickets-EmptyState">
                <span>No tickets found.</span>
            </div>
        }
    </div>
</section>