@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="CreateTicket-Form">
    <div>
        <h3>Add a title</h3>
        <input type="text" />
    </div>
    <div>
        <h3>Add a description</h3>
        <textarea placeholder="Write a description..."></textarea>
    </div>
</section>